body {
  margin: auto;
  background-color: white;
  font-family: 'Arial', sans-serif;
  width: 1024px;
}

.grid {
  border: 5px blue solid;
  width: 1024px;
  display: grid;
  
  grid-gap: 5px;
  grid-template-columns: 2fr 3fr;
  
  align-content: end;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
  
}

.header {
  grid-area: 1 / 1 / span 2 / span 1;
  text-align:center;
  padding: 5px;
}


.contacts {
  grid-area: 3 / 1 / span 1 / span 1;
  padding: 5px;
}

.summary {
  grid-area: 4 / 1 / span 2 / span 1;
  padding: 5px;
}

.experience {
  grid-area: 1 / 2 / span 1 / span 1;
  padding: 5px;
}

.education {
  grid-area: 2 / 2 / span 1 / span 1;
  padding: 5px;
}

.skills {
  grid-area: 3 / 2 / span 1 / span 1;
  padding: 5px;
}

.code {
  grid-area: 4 / 2 / span 1 / span 1;
  
  padding: 5px;
}

.english {
  grid-area: 5 / 2 / span 1 / span 1;
  
  padding: 5px;
}

.header h1, img {
  margin: auto;
}